# Mac OS Stuff:
# 1. General
.DS_Store
.AppleDouble
.LSOverride

# 2. Icon must end with two \r
Icon

# 3. Thumbnails
._*

# 4. Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# 5. Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk